<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <style>
            h1 {
                background-color: aquamarine;
                color: blueviolet;
                display: inline-block;
            }
            p {
                display: flex;
                background-color: aquamarine;
                color: blueviolet;
            }
        </style>
    </head>
    <body>
        <h1>Hello World from back end</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
            maxime ipsam, consectetur adipisci rem in quibusdam ratione
            praesentium totam sed reiciendis architecto ducimus unde vel? Ut in
            natus consequuntur quae?
        </p>
    </body>
</html>
